In [7]:
import pandas as pd

In [8]:
s = pd.Series([1,2,3,4])
type(s)

pandas.Series

In [10]:
s1 = pd.Series([1,2,3,4],index = ['A','B','C','D'])
print(s1)
type(s1)

A    1
B    2
C    3
D    4
dtype: int64

pandas.Series

In [21]:
data = [[1,444,'abc'],
        [2,555,'def'],
        [3,666,'ghi'],
        [4,777,'xyz'],
        [5,888,'lmn']
        ]
df = pd.DataFrame(data, columns=["ID","Std_id","Dept"],index=["A","B","C","E","F"])
df

   ID  Std_id Dept
A   1     444  abc
B   2     555  def
C   3     666  ghi
E   4     777  xyz
F   5     888  lmn

In [20]:
data2 ={"ID": [1,2,3,4,5],
        "Std_id":[444,555,666,777,888],
        "Dept":['abc','def','ghi','jkl','mno']
        }
df2 = pd.DataFrame(data2,index=["A","B","C","E","F"])
df2

   ID  Std_id Dept
A   1     444  abc
B   2     555  def
C   3     666  ghi
E   4     777  jkl
F   5     888  mno

In [16]:
df2.index

Index(['A', 'B', 'C', 'E', 'F'], dtype='str')

In [22]:
display(df)

   ID  Std_id Dept
A   1     444  abc
B   2     555  def
C   3     666  ghi
E   4     777  xyz
F   5     888  lmn

In [23]:
df.dtypes

ID        int64
Std_id    int64
Dept        str
dtype: object

In [27]:
df['Dept'].dtype

In [28]:
df['Dept'] = df['Dept'].astype('category')

In [29]:
df['Dept'].dtype

CategoricalDtype(categories=['abc', 'def', 'ghi', 'lmn', 'xyz'], ordered=False, categories_dtype=str)

In [31]:
df.describe(include="category")

       Dept
count     5
unique    5
top     abc
freq      1

In [32]:
df.columns

Index(['ID', 'Std_id', 'Dept'], dtype='str')

In [36]:
df['Std_id'].unique().sum()

3330

In [37]:
df['Std_id'].max()

888

In [38]:
df['Std_id'].min()

444

In [39]:
df['Std_id'].idxmax()

'F'

In [40]:
df.info()

<class 'pandas.DataFrame'>
Index: 5 entries, A to F
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
 1   Std_id  5 non-null      int64
 2   Dept    5 non-null      category
dtypes: category(1), int64(2)
memory usage: 509.0+ bytes

In [42]:
df['Dept'].value_counts()

Dept
abc    1
def    1
ghi    1
lmn    1
xyz    1
Name: count, dtype: int64

In [43]:
df['ID'].sum()

15

In [44]:
df['Std_id'].apply(lambda x: x*2)

A     888
B    1110
C    1332
E    1554
F    1776
Name: Std_id, dtype: int64

In [46]:
df.iloc[0:2]

   ID  Std_id Dept
A   1     444  abc
B   2     555  def

In [47]:
df.iloc[:,0:2]

   ID  Std_id
A   1     444
B   2     555
C   3     666
E   4     777
F   5     888

In [49]:
df.isnull().sum()

ID        0
Std_id    0
Dept      0
dtype: int64

In [50]:
null = df.isnull().sum()
pd.DataFrame(null).T

   ID  Std_id  Dept
0   0       0     0